
<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink = ''  routerLinkActive="active">GetCab</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME <span class="sr-only">(current)</span></a></li>

        <li><a href="#"> ABOUT US <span class="sr-only">(current)</span></a></li>
       <li routerLink = '/doctor/'  routerLinkActive="active" ><a  routerLink = '/doctor/'  routerLinkActive="active" >DOCTORS</a></li>
       <li routerLink = '/post/'  routerLinkActive="active" ><a  routerLink = '/post/'  routerLinkActive="active" >POST</a></li>
        <li routerLink = '/videos/' routerLinkActive="active" ><a  routerLink = '/videos/' routerLinkActive="active"  >VIDEOS</a></li>
        <!-- <li><a href="#">OUR NEWS</a></li> -->

       <!-- <video-detail></video-detail> -->
        <li class="dropdown" dropdown >
          <a dropdownToggle class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OUR NEWS <span class="caret"></span></a>
          <ul *dropdownMenu class="dropdown-menu">
            <li><a href="#">CLASSIC</a></li>
            <li><a href="#">CHESS</a></li>
            <li><a href="#">PORTFOLIO</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">OTHER</a></li>
          </ul>
        </li>
        <li><a href="#">CANTACT US</a></li>

      
      </ul>
      <form class="navbar-form navbar-right">

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container main-container">
	<router-outlet></router-outlet>
</div>

<footer class="container text-center">
<hr>
	CabS
</footer>

