
    <!-- <h1 class="title well">{{ title }} <small>items: {{start}}</small></h1> -->
    
    <div class="search-results"
         data-infinite-scroll
         debounce
         [infiniteScrollDistance]="scrollDistance"
         [infiniteScrollThrottle]="throttle"
         (scrolled)="onScrollDown()">
         <ul>
      <li *ngFor=" let i of posts | slice:0:end;">

        Id:{{ i.id }}<br> PostId:{{i.postId}}<br>Name:{{i.name}}<br>Email:{{i.email}}<br><hr>Body:{{i.body}}
      </li>
       <p *ngIf =" start< posts.length ">Some details are coming soon... !</p>
      </ul>
      
    </div>

  