<div  class="col-md-10 col-md-offset-1 col-sm-10" >
<div *ngFor = ' let item of videoList | slice:0:end;'>
<a routerLink = '/videos/{{item.slug}}' >{{ item.name }}</a>
<div [innerHTML]='item.embed'></div>
<div [innerHTML]='someItem'></div>

<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item"  [src]="getEmbedUrl(item)"></iframe>
</div>

<!-- {{item.embed}} -->
</div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-10" id="loadMore">
     <button  (click)="doInfinite()">load more</button>
   </div>
</div>




